#audioInput {
    display: block;
}

#songTitle {
    display: inline;
    vertical-align: middle;
}

#audioFile {
    border: 1px solid rgba(150, 150, 150, 0.192);
    border-radius: 10px;
}

#seperateSong {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#playBar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    background-color: #161618;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}